<div *ngIf="model">

  <h1>Sign Up</h1>

  <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">

    Fo
    <!--{{diagnostic}}-->
    <!--<div><label for="Email">Email: </label> <span>{{model.Email}}</span></div>
  <div> <label for="FirstName: ">FirstName:</label> <span>{{model.FirstName}}</span></div>-->

    <div class="form-group">

      <!--<label for="computerId">Id</label>
    <input type="text" placeholder="Id" class="form-control" id="computerId"
           [(ngModel)]="model.computerId" name="computerId" readonly>-->

    </div>


    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" placeholder="brother.bob@123.com" class="form-control" id="Email" required
             [(ngModel)]="model.Email" name="Email">
      <!--<div [hidden]="configuracionName.valid || configuracionName.pristine"
         class="alert alert-danger">
      configuracionName is required
    </div>-->
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="text" placeholder="*******" class="form-control" id="Password" required
             [(ngModel)]="model.Password" name="Password">
      <!--<div [hidden]="processor.valid || processor.pristine"
         class="alert alert-danger">
      processor is required
    </div>-->
    </div>

    <div class="form-group">
      <label for="FirstName">FirstName</label>
      <input type="text" placeholder="brother" class="form-control" id="FirstName" required
             [(ngModel)]="model.FirstName" name="FirstName">
      <!--<div [hidden]="hardDrive.valid || hardDrive.pristine"
         class="alert alert-danger">
      hardDrive is required
    </div>-->
    </div>

    <div class="form-group">
      <label for="LastName">LastName</label>
      <input type="text" placeholder="bob" class="form-control" id="LastName" required
             [(ngModel)]="model.LastName" name="LastName">
      <!--<div [hidden]="hardDrive.valid || hardDrive.pristine"
         class="alert alert-danger">
      hardDrive is required
    </div>-->
    </div>

    <div class="form-group">
      <label for="Location">Location</label>
      <input type="text" placeholder="hell" class="form-control" id="Location" required
             [(ngModel)]="model.Location" name="Location">
      <!--<div [hidden]="hardDrive.valid || hardDrive.pristine"
         class="alert alert-danger">
      hardDrive is required
    </div>-->
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!signUpForm.form.valid">Save</button>
    <button type="button" class="btn btn-danger" (click)="goBack()">Cancel</button>

  </form>

</div>
