<div class="text-center">
  <h2>Featured Computers</h2>
</div>
<div class="container">
  <div class="row stylish-panel">
    <div class="col-md-4" *ngFor="let computer of computers">
      <div>
        <h2>{{computer.configuracionName}}</h2>
        <p>
          Processor: {{computer.processor}}<br />
          Memory: {{computer.memory.brand}} : {{computer.memory.sizeGb}}GB {{computer.memory.speed}}<br />
          HardDrive: {{computer.hardDrive}}
        </p>
        <a routerLink="../computer/detail/{{computer.computerId}}" class="btn btn-primary" title="See more">Full Specs »</a>
      </div>
    </div>
  </div>
</div>
<!--<app-computer-search></app-computer-search>-->

