<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>Computers</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="">
    <table id="productTable"
           class="table table-bordered
                 table-condensed table-striped">
      <thead>
        <tr>
          <th>Edit</th>
          <th>Configuration Name</th>
          <th>Processor</th>
          <th>Memory</th>
          <th>Hard Drive</th>
          <th>Modified Date</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let computer of computers">
          <td>
            <a routerLink="detail/{{computer.computerId}}" class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
          </td>
          <td>{{computer.configuracionName}}</td>
          <td>{{computer.processor}}</td>
          <td>{{computer.memory.brand}} : {{computer.memory.sizeGb}}GB {{computer.memory.speed}}</td>
          <td>{{computer.hardDrive}}</td>
          <td>{{computer.lastModified | date:"yyyy-MM-dd HH:mm:ss"}}</td>
          <td>
            <button class="btn btn-danger" title="delete computer"
                    (click)="delete(computer)">
              <span class='glyphicon glyphicon-remove'></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a routerLink="add" class="btn btn-primary">Add Computer</a>
