<!--<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>ComputerUI</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/counter"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-education'></span> Counter
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Fetch data
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/computer-management"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Manage Computers
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/view-logs"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> View Logs
              </a>
            </li>
          </ul>
        </div>
    </div>
</div>-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>QR Entry</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
            <span class=''></span> Test API
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/app-settings"]' (click)='collapse()'>
            <span class=''></span> App Settings
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class='glyphicon glyphicon-th-list'></span> Manage Computers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]='["/computer-management/dashboard"]'>Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]='["/computer-management/computer"]'>Computers</a></li>
            <li><a [routerLink]='["/computer-management/computer/add"]'>Add Computer</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]='["/computer-management/memory"]'>Memories</a></li>
            <li><a [routerLink]='["/computer-management/memory/add"]'>Add Memories</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]='["/sign-up"]'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class='glyphicon glyphicon-th-list'></span> Manage Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]='["/dashboard/home"]'>Dashboard</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]='["/login"]'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a [routerLink]='["/facebook-login"]'><span class="glyphicon glyphicon-log-in"></span> Facebook Login</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
